@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: 8, 27, 41;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-color: 8, 27, 41;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-color));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOutToTop {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.menu-open {
  animation: slideInFromTop 0.3s forwards;
}

.menu-close {
  animation: slideOutToTop 0.3s forwards;
}

.button-open {
  animation: slideInFromRight 0.3s forwards;
}

.button-close {
  animation: slideOutToRight 0.3s forwards;
}